{% extends 'base.html' %}
{% load static %}

{% block title %} Categories {% endblock %}

{% block content %}

{% if success %}
<div class="alert alert-success text-center mt-4" role="alert">
  Category successfully saved!
</div>
{% endif %}

<div class="container">

  <hr>
  <h2 class="mb-3 text-center">Category</h2>

  {% if error %}
  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
  </svg>

  <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
      The category already exists.
    </div>
  </div>
  {% endif %}

  <form method="POST" class="d-flex flex-column align-items-center form-floating border-color-grey border-top p-3 px-5">
    {% csrf_token %}

    <!-- Campo del topico de la categoria -->
    <div class="form-floating w-100 mb-3">
      <input type="text" class="form-control" id="floatingName" name="topic" value="{{category.topic}}"
        placeholder="Topic" required>
      <label for="floatingName">Topic</label>
    </div>

    <!-- Campo de la descripcion de la categoria -->
    <div class="form-floating w-100">
      <textarea class="form-control resize-none h-100" rows="5" id="floatingVersion" name="description"
        placeholder="Description" required>{{category.description}}</textarea>
      <label for="floatingVersion">Description</label>
    </div>

    {% if tools %}
    <div class="mt-5 border-bottom">
      <span class="form-text p-2"><strong>In order to maintain the consistency in the system, please give each tool a value for the category</strong>.</span>

      <div class="row d-flex align-items-center p-3 px-5 border-color-grey border-top">
        {% for tool in tools %}
        <div class="col-md-3 mb-3 pe-0">
            <label>{{ tool.name }}</label>
        </div>
        <div class="col-md-3 mb-3 d-flex align-items-center justify-content-center">
                <select class="form-select select-category" aria-label="Default select example" name="tool-{{tool.id}}">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  </select>
        </div>
        {% endfor %}
    </ul>
    </div>
    </div>

    {% endif %}

    <div class="d-flex justify-content-between mt-4">
      <a href="/categories"><button type="button" class="btn btn-dark me-3">
        Back
      </button></a>
      <button type="submit" class="btn btn-dark">
        Save
      </button>
    </div>

  </form>

</div>

{% endblock %}