{% extends 'base.html' %}
{% load static %}

{% block title %} Tools {% endblock %}

{% block content %}

{% if success %}
<div class="alert alert-success text-center mt-4 mb-0" role="alert">
  Tool successfully saved!
</div>
{% endif %}

<div class="container d-flex flex-column align-items-center justify-content-center">

  <hr>
  <h2 class="mb-3">New tool</h2>
  <form method="POST" class="d-flex flex-column align-items-center form-floating border-color-grey border-top p-3 px-5">
    {% csrf_token %}

    <!-- Campo del nombre de la herramienta -->
    <div class="input-group mb-3">
      <span class="input-group-text"><img src="{% static 'icons8-tool-50.png' %}" alt="Tool icon" width="23"
          height="23"></span>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingName" name="name" placeholder="Tool name" value="{{name}}" required>
        <label for="floatingName">Tool name</label>
      </div>
    </div>

    <!-- Campo de la version de la herramienta -->
    <div class="input-group mb-3">
      <span class="input-group-text"><img src="{% static 'icons8-version-50.png' %}" alt="Version icon" width="23"
          height="23"></span>
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingVersion" name="version" placeholder="Tool version"
          value="{{version}}" required>
        <label for="floatingVersion">Tool version</label>
      </div>
    </div>

    <!-- Campo de la fecha de la version -->
    <div class="input-group mb-3">
      <span class="input-group-text"><img src="{% static 'icons8-date-64.png' %}" alt="Calendar icon" width="23"
          height="23"></span>
      <div class="form-floating">
        <input type="month" class="form-control w-100" id="floatingDate" name="date" placeholder="Date version"
          value="{{date_version}}" required>
        <label for="floatingDate">Date version</label>
      </div>
    </div>

    {% if root %}
    <!-- Campo del vendedor -->
    <div class="input-group mb-3 w-100">
      <span class="input-group-text"><img src="{% static 'user.png' %}" alt="User icon" width="24" height="24"></span>
      <select class="form-select select-category" aria-label="Default select example" name="vendor" required>
        {% for vendor in vendors %}
        <option value="{{vendor.id}}">{{vendor.email}}</option>
        {% endfor %}
      </select>

    </div>
    {% endif %}

    <div class="d-flex justify-content-between mt-4">
      {% if rootback %}<a href="/tools" <button type="button" class="btn btn-dark me-3">Back</button></a>
      {% else %} <a href="/mytools" <button type="button" class="btn btn-dark me-3">Back</button></a>
      {% endif %}
      <button type="submit" class="btn btn-dark">
        Save
      </button>
    </div>

  </form>

  {% if error %}

  <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
      <path
        d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
    </symbol>
  </svg>

  <div class="alert alert-danger d-flex align-items-center mt-3" role="alert">
    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:">
      <use xlink:href="#exclamation-triangle-fill" />
    </svg>
    <div>
      The tool can not be registered.
    </div>
  </div>
  {% endif %}
</div>

{% endblock %}