nav {
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, .2);
    background-color: white;
}

body {
    background-color: #eeeeee;
}

a {
    color: #000;
}

.navbar-brand {
    color: #000;
    text-decoration: none;
}

.navbar-brand:hover,
.navbar-brand:focus {
    color: #000;
    text-decoration: underline;
}

.img-fluid {
    max-height: 50vh;
    max-width: auto;
}

footer {
    background-color: #333;
}

.border-color-grey {
    border-color: #6c757d !important;
}

.centered {
    text-align: center;
}

.row-selected-pair {
    background: black !important;
    color: white;
}

.row-selected-odd {
    background: #333 !important;
    --bs-table-striped-color: white;
}

.row-search {
    cursor: pointer;
}

.border-primary {
    background: #F0F0F0;
    border-color: black !important;
    border-width: revert;
}

.toast-body-color {
    background-color: rgb(73, 73, 73);
}